body{
    margin: 50px;
    background-color: whitesmoke;
}

h1{
    margin-left: 170px;
    width: 100px;
}

table{
    border-collapse: collapse;
    border-color:black;
}

td{
    text-align: center;
    padding: 10px;
}

